{% extends 'blogs/base.html' %}
{% load static %}
{% block title %}Committee Members{% endblock %}
{% block content %}
<div class ="top_commem">
    <span>Meet Our Team</span>
    <p class="p_commem">Team Work makes the dream work- Here's a look into our most talented team </p>
    <img class="img_commem" src ="{% static 'blogs/CYB_ALL.jpg' %}">
</div>
<div class="wrap_commem">
     
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_STAFF.jpg' %}">
        <div class="text">
        <h1>Dr. Shashikala D</h1>
            <p class="p_commem"> Staff Coordinator</p>
        </div>
    </div>
     
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_PRESIDENT_TARUN.jpg' %}">
        <div class="text">
        <h1>Tarun S</h1>
            <p class="p_commem"> President</p>
        </div>
    </div>
     
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_VICE_PRESIDENT_MAYA.jpg' %}">
        <div class="text">
        <h1>Maya Mohan</h1>
            <p class="p_commem"> Vice President</p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_GEN_SEC_CMS_NITISHA.jpg' %}">
        <div class="text">
        <h1>Nitisha Nigam</h1>
            <p class="p_commem"> General Secretary-CMS</p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_GEN_SEC_PMC_TANISHA.jpg' %}">
        <div class="text">
        <h1>Tanisha Das</h1>
            <p class="p_commem"> General Secretary-PMC</p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_GEN_SEC_MEC_RITHIN.jpg' %}">
        <div class="text">
        <h1>Rithin Paul Thomas</h1>
            <p class="p_commem">General Secretary-MEC</p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_GEN_SEC_BCA_KAJAL.jpg' %}">
        <div class="text">
        <h1>Kajal Tekwani</h1>
            <p class="p_commem">General Secretary-BCA</p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_HEAD_OF_DOCUMENTATION_SWETHA.jpg' %}">
        <div class="text">
        <h1>Swetha S</h1>
            <p class="p_commem">Head of documentation</p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_HEAD_OF_MARKETING_ADHIYA.jpg' %}">
        <div class="text">
        <h1>Adhiya A</h1>
            <p class="p_commem">head of Marketing and PR </p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_HEAD_OF_SOCIAL_MEDIA_PRAICY.jpg' %}">
        <div class="text">
        <h1>Praicy</h1>
            <p class="p_commem">Head of Social Media</p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_HEAD-OF-LOGISTICS_ALLAN-SAMARIO.jpg' %}">
        <div class="text">
        <h1>Allan Samario</h1>
            <p class="p_commem">Head Of Logistics</p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_HEAD_OF_DESIGN_RYAN.jpg' %}">
        <div class="text">
        <h1>Ryan Verghese</h1>
            <p class="p_commem">Head of Design</p>
        </div>
    </div>
    <div class="box_commem">
        <img class="img_commem" src ="{% static 'blogs/CYB_HEAD_OF_TECH_JIA.jpg' %}">
        <div class="text">
        <h1>Jia Dutta</h1>
            <p class="p_commem">Head of Tech</p>
        </div>
    </div>
</div>
{% endblock %}