{% extends 'blogs/base.html' %}
{% load static %}
{% block title %}Cybernetics Association SJU{% endblock %}
{% block content %}
<div class="container_gal">
    <div class="heading_gal">
      <h3>Photo <span>Gallery</span></h3>
    </div>
    <div class="box_gal">
      
      <div class="dream_gal">
        <img src="{% static 'blogs/gal1.jpg' %}" alt="1">
         <img src="{% static 'blogs/gal2.jpg' %}" alt="2">
          <img src="{% static 'blogs/gal3.jpg' %}" alt="3">
           <img src="{% static 'blogs/gal4.jpg' %}" alt="4">
            
      </div>

      <div class="dream_gal">
        <img src="{% static 'blogs/gal6.jpg' %}" alt="6">
         <img src="{% static 'blogs/gal7.jpg' %}" alt="7">
          <img src="{% static 'blogs/gal8.jpg' %}" alt="8">
           <img src="{% static 'blogs/gal9.jpg' %}" alt="9">
            <img src="{% static 'blogs/gal10.jpg' %}" alt="10">
            
      </div>

      <div class="dream_gal">
        <img src="{% static 'blogs/gal11.jpg' %}" alt="11">
         <img src="{% static 'blogs/gal12.jpg' %}" alt="12">
          <img src="{% static 'blogs/gal13.jpg' %}" alt="13">
           <img src="{% static 'blogs/gal14.jpg' %}" alt="14">
            <img src="{% static 'blogs/gal15.jpg' %}" alt="15">
            
      </div>
    </div>
    <div class="box_gal">

      <div class="dream_gal">
        <img src="{% static 'blogs/gal16.jpg' %}" alt="16">
         <img src="{% static 'blogs/gal17.jpg' %}" alt="17">
          <img src="{% static 'blogs/gal18.jpg' %}" alt="18">
           <img src="{% static 'blogs/gal19.jpg' %}" alt="19">
            <img src="{% static 'blogs/gal20.jpg' %}" alt="20">
            
      </div>

      <div class="dream_gal">
        <img src="{% static 'blogs/gal21.jpg' %}" alt="21">
         <img src="{% static 'blogs/gal22.jpg' %}" alt="22">
          <img src="{% static 'blogs/gal23.jpg' %}" alt="23">
           <img src="{% static 'blogs/gal24.jpg' %}" alt="24">
            <img src="{% static 'blogs/gal5.jpg' %}" alt="25">
            
      </div>

      <div class="dream_gal">
        <img src="{% static 'blogs/gal26.jpg' %}" alt="26">
         <img src="{% static 'blogs/gal27.jpg' %}" alt="27">
          <img src="{% static 'blogs/gal28.jpg' %}" alt="28">
           <img src="{% static 'blogs/gal29.jpg' %}" alt="29">
            <img src="{% static 'blogs/gal30.jpg' %}" alt="30">
            
      </div>
    
    </div>

  </div>    
{% endblock %}